*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
input{
    outline: none;
    border: none;
}
body{
    font-family: 'Lato-regular' , sans-serif;
    font-weight: 400;
}
@font-face {
    font-family: 'Lato-regular';
    src: url('/fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato-semibold';
    src: url('/fonts/Lato-Semibold.ttf');
}
@font-face {
    font-family: 'Lato-bold';
    src: url('/fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Lato-black';
    src: url('/fonts/Lato-Black.ttf');
}
.container{
    max-width: 1168px;
    width: 100%;
    margin: 0 auto;
}
.header {
    padding-top: 33px;
    padding-bottom: 33px;
    background: rgba(16, 16, 29, 0.9);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 90;
    .header_inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .header_logo-img {
            width: 247px;
            height: 35px;
        }
        .header_menu {
            width: 435px;
            .header_menu-list {
                display: flex;
                justify-content: space-between;
                .header_menu-paragraph {
                    .header_menu-link {
                        font-family: 'Lato-semibold', sans-serif;
                        font-size: 13px;
                        line-height: 16px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        transition: all .3s ease;
                        &:hover{
                            color: #43ABF0;
                        }
                    }
                }
            }
        }
        .header_burger{
            display: none;
        }
    }
}
.header_menu-mobile{
    width: 200px;
    height: 100%;
    background: rgba(16, 16, 29, 0.9);
    padding: 20px;
    height: 175px;
    position: absolute;
    top: -1200%;
    right: 0;
    transition: all .3s ease;
    &.active{
        top: -172%;
    }
    .header_menu-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        .header_menu-link{
            font-family: 'Lato-semibold', sans-serif;
            font-size: 13px;
            line-height: 16px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 10px 0;
            display: block;
        }
    }
}
.intro {
    padding-top: 200px;
    padding-bottom: 170px;
    background-image: url('/img/intro-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    .intro_title {
        font-size: 48px;
        line-height: 58px;
        text-transform: uppercase;
        color: #000;
        font-family: 'Lato-bold' , sans-serif;
        max-width: 780px;
        & span{
            color: #43ABF0;
        }
    }
    .intro_content {
        margin-top: 80px;
        .intro_content-title {
            font-family: 'Lato-bold' , sans-serif;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
            margin-bottom: 10px;
        }
        .intro_content-text {
            font-size: 20px;
            line-height: 24px;
            color: #000000;
        }
    }
    .intro_links {
        width: 400px;
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        .intro_link {
            background: #3E9CDC;
            border: 1px solid #FFFFFF;
            border-radius: 4px;
            width: 183px;
            height: 43px;
            color: #FFFFFF;
            font-size: 13px;
            line-height: 16px;
            text-transform: uppercase;
            text-align: center;
            padding-top: 14px;
            transition: all .3s ease;
            &:hover{
                border:1px solid transparent;
            }
        }
        .intro_link-more{
            background: #FFFFFF;
            border: 1px solid #6F6D7B;
            color:#6F6D7B;
        }
    }
}
.formalization {
    background-color: #272733;
    background-image: url('/img/formalization-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 120px;
    padding-bottom: 150px;
}
.formalization_content {
    .formalization_content-title {
        font-size: 36px;
        line-height: 43px;
        text-transform: uppercase;
        color: #FFFFFF;
        font-family: 'Lato-black', sans-serif;
        margin-bottom: 30px;
        text-align: center;
        & span{
            color: #3E9CDC;
        }
    }
    .formalization_content-text {
        font-size: 18px;
        line-height: 22px;
        color: #BBBBBB;
        text-align: center;
    }
    .formalization_content_items {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .formalization_content-item {
            width: 191px;
            position: relative;
            &::before{
                content:'';
                position: absolute;
                width: 110px;
                height: 6px;
                background-image: url('/img/points.svg');
                top: 50px;
                left: -81px;
            }
            &:nth-child(1)::before{
                display: none;
            }
            .formalization_item-image {
                width: 100px;
                height: 100px;
                background-image: url('/img/formalization-item-bg.png');
                position: relative;
                margin: 0 auto;
                margin-bottom: 20px;
                .formalization_item-img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
            .formalization_item-text {
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}
.from{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .form_input {
        width: 370px;
        height: 48px;
        z-index: 10;
        position: relative;
        display: block;
        margin-bottom: 30px;
        .form_input-pol {
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.85);
            border: 1px solid #FFFFFF;
            border-radius: 3px;
            font-size: 18px;
            line-height: 22px;
            color: #272733;
            padding: 0 10px;
        }
    }
    .form_range {
        width: 770px;
        .form_range-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            .form_range-title {
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
            }
            .form_range-proccent {
                font-size: 18px;
                line-height: 22px;
                color: rgba(255, 255, 255, 0.85);
            }
        }
        .form_input-range {
            width: 100%;
            &::-webkit-slider-runnable-track{
                background: rgba(255, 255, 255, 0.7);
                border: 1px solid #FFFFFF;
                height: 6px;
                border-radius: 10px;
            }
            &::-webkit-slider-thumb{
                background: #42A9ED;
                border: 3px solid #286690;
                width: 23px;
                height: 23px;
                margin-top: -5px;
            }
        }
    }
    .form_fail {
        position: relative;
        &::before{
            content:'';
            position: absolute;
            width: 18px;
            height: 20px;
            background-image: url('/img/fail2.svg');
            left: 96px;
            top: 14px;
        }
        .form_input-fail {
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            position: absolute;
        }
        .field__file-wrapper {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            background: rgba(255, 255, 255, 0.85);
            border: 1px solid #3E9CDC;
            border-radius: 3px;
          }
           
          .field__file-fake {
            height: 48px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0 15px 0 124px;
            border: 1px solid #c7c7c7;
            border-radius: 3px 0 0 3px;
            border-right: none;
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            color: #272733;
            font-family: 'Lato-semibold' , sans-serif;
          }
    }
    .form_button{
        width: 370px;
        height: 48px;
        background: #3E9CDC;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        font-family: 'Lato-semibold' , sans-serif;
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-top: 15px;
        transition: all .3s ease;
        cursor: pointer;
        &:hover{
            border:1px solid transparent;
        }
    }
}
.__select {
    position: relative;
    width: 370px;
    height: 48px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #FFFFFF;
    border-radius: 3px;
  
    &[data-state="active"] {
        background: rgba(61, 64, 80, 0.85);
        border-radius: 3px 3px 0px 0px;
        border:1px solid transparent;
      .__select__title {
        color: #FFFFFF;
        &::after {
          
          background-image: url('/img/arrow2.svg');
        }
      }
      .__select__content {
        opacity: 1;
        z-index: 11;
      }
      .__select__label + .__select__input + .__select__label {
        max-height: 40px;
      }
    }
}
.__select__title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    font-size: 18px;
    line-height: 22px;
    color: #272733;
    cursor: pointer;
    &::after {
       content: "";
       position: absolute;
       background-image:url('/img/arrow.svg');
       width: 9px;
       height: 6px;
       right: 16px;
    }
}
.__select__content {
    position: absolute;
    top: 47px;
    display: flex;
    flex-direction: column;
    width:100%;
    background: rgba(39, 39, 51, 0.9);
    border: 1px solid #3D4050;
    border-radius: 3px;
    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: 8;
    max-height: 202px;
    overflow-y: scroll;
    scrollbar-width:7px;
    scrollbar-color: #3E9CDC #3D4050;
        &::-webkit-scrollbar{
            width: 7px;
            background-color: #3D4050;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #3E9CDC;
            width: 7px;
            border-radius: 3px;
        }
}
.__select__input {
    display: none;
  
    &:checked + label {
      background-color: #dedede;
    }
    &:disabled + label {
      opacity: 0.6;
      pointer-events: none;
    }
}
.__select__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    max-height: 0;
    padding: 25px 16px;
    font-size: 18px;
    line-height: 34px;
    color: #ffffff;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow: hidden;
    &:hover {
        color: #42A9ED;
    }
}
.footer {
    background: #3D4050;
    padding-top: 31px;
    padding-bottom: 31px;
    .footer_inner{
        display: flex;
        .footer_copy {
            font-size: 13px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            margin-right: 40px;
        }
        .footer_pay {
            padding-left: 40px;
            padding-right: 40px;
            border-left: 1px solid #C3C3C3;
            border-right: 1px solid #C3C3C3;
            display: flex;
            .footer_pay_item {
                display:flex ;
                align-items: center;
                & + .footer_pay_item{
                    margin-left: 40px;
                }
                .footer_pay-img {
                    margin-right: 10px;
                }
                .footer_pay-name {
                    font-size: 13px;
                    line-height: 16px;
                    color: #C3C3C3;
                }
            }
        }
        .footer_contacts {
            padding-left: 40px;
            display: flex;
            .footer_contacts-item {
                display: flex;
                align-items: center;
                .footer_contacts-icon {
                    margin-right: 15px;
                }
                .footer_contacts-text {
                    color: #FFFFFF;
                    font-size: 13px;
                    line-height: 16px;
                }
                & + .footer_contacts-item{
                    margin-left: 40px;
                }
            }
        }
    }
}
